# Managed by Ansible
XKB_DEFAULT_MODEL={{ pi_melodestra_xkb_model }}
XKB_DEFAULT_LAYOUT={{ pi_melodestra_xkb_layout }}
XKB_DEFAULT_VARIANT={{ pi_melodestra_xkb_variant }}
XKB_DEFAULT_OPTIONS={{ pi_melodestra_xkb_options }}
