# {{ ansible_managed }}

{% for module in pve_exporter_targets %}
{{ module }}:
  user: prometheus@pve
  token_name: monitoring
  token_value: {{ lookup('vars', module + '_exporter_token_value') }}
  verify_ssl: false

{% endfor %}
