# GitHub Actions runner environment

PATH={{ github_runner_home }}/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

VAULT_PASSWORD={{ github_runner_vault_password }}
GIT_CRYPT_KEY={{ github_runner_git_crypt_key }}
GITHUB_TOKEN={{ github_runner_pat }}
ANSIBLE_VAULT_PASSWORD_FILE=/tmp/.vault_password
