[defaults]
inventory = inventory/
roles_path = roles:roles/proxmox:~/.ansible/roles:/usr/share/ansible/roles
interpreter_python = auto
stdout_callback = default
result_format = yaml
bin_ansible_callbacks = True
vault_password_file = secrets/.vault_password
host_key_checking = False
timeout = 30
forks = 10
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout = 3600
retry_files_enabled = False
deprecation_warnings = False
command_warnings = False

[inventory]
enable_plugins = community.proxmox.proxmox, yaml, ini, auto
# Allow individual inventory sources to fail without aborting the whole run. Mostly for cluster failover shenanigans
ignore_errors = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=60
